<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>TextBelt - Free Texting API - No Ads</title>
    <link rel="stylesheet" href="http://typpo.github.com/textbelt/stylesheets/styles.css">
    <link rel="stylesheet" href="http://typpo.github.com/textbelt/stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://typpo.github.com/textbelt/javascripts/respond.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!-- start Mixpanel --><script type="text/javascript">(function(d,c){var a,b,g,e;a=d.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===d.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';b=d.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);c._i=[];c.init=function(a,d,f){var b=c;"undefined"!==typeof f?b=c[f]=[]:f="mixpanel";g="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config".split(" ");
      for(e=0;e<g.length;e++)(function(a){b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,0)))}})(g[e]);c._i.push([a,d,f])};window.mixpanel=c})(document,[]);
      mixpanel.init("6e6e6b71ed5ada4504c52d915388d73d");</script><!-- end Mixpanel -->
    <script>mixpanel.track('main');</script>
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "ur-e52063a3-f5a7-2078-bc73-7c684f5a6cdf"}); </script>
  </head>
  <body>

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>TextBelt</h1>
          <p>Free API for outgoing texts.

          </p>
          <p>
          <span class='st_facebook_large' displayText='Facebook'></span>
          <span class='st_twitter_large' displayText='Tweet'></span>
          <span class='st_email_large' displayText='Email'></span>
          </p>
          <hr>
          <span class="credits left">Project maintained by <a href="http://www.ianww.com/">Ian Webster</a>. Source on <a href="http://github.com/typpo/textbelt">github</a>.</span>
          <span class="credits right"></span>
        </div>

        <h3>TextBelt</h3>

<p>TextBelt is an outgoing SMS API that uses carrier-specific gateways to deliver your text messages for free, and without ads.  This is nice for a low-cost texting app or testing without running down your Twilio balance.</p>

<p>Usage is a simple POST request:</p>

<pre><code>$ curl <a href="http://textbelt.com/text">http://textbelt.com/text</a> \
   -d number=5551234567 \
   -d "message=I sent this message for free with textbelt.com"
</code></pre>

<p> <i>number</i> and <i>message</i> parameters are required.</p>

<h3>Success and Failure</h3>

<p>Sample success:</p>

<pre><code>{"success":true}
</code></pre>

<p>Sample failure:</p>

<pre><code>{"success":false,"message":"Exceeded quota for this phone number."}
</code></pre>

<h3>Notes and Limitations</h3>

<ul>
<li><p>IP addresses are limited to 75 texts per day.  Phone numbers are limited to 3 texts every 3 minutes.  To report abuse or request increased limits, please contact ianw_textbelt at ianww.com.</p></li>
<li><p>Some carriers may deliver text messages from "txt@textbelt.com"</p></li>
<li><p>The recipient number must belong to one of the following U.S. providers: Alltel, Ameritech, AT&amp;T Wireless, Boost, CellularOne, Cingular, Sprint PCS, Telus Mobility, T-Mobile, Metro PCS, Nextel, O2, Orange, Qwest, Rogers Wireless, US Cellular, Verizon, Virgin Mobile.</p></li>
</ul>

<h3>About</h3>

<p>
This project is maintained by <a href="http://www.ianww.com/">Ian Webster</a>.
<div>
<a href="https://mixpanel.com/f/partner"><img src="https://mixpanel.com/site_media/images/partner/badge_blue.png" alt="Mobile and Web Analytics" /></a>
</div>
</p>
      </section>

    </div>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
  </body>
</html>
